* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #0b3443;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    
  }
  
  section {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: auto;
  }
  
  .about, .skills, .contact {
    background: white;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  h2 {
    margin-bottom: 1rem;
    color: hsl(235, 95%, 52%);
  }
  
  ul {
    list-style: square inside;
  }
  
  form input, form textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    background-color: #0d47a1;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #08306b;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    color: #00090b;
  }